*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #E9DFE0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #4717f7;
}

.card{
    background-color: #130e20;
    height: 260px;
    width: 90vw; /*410px*/
    border-radius: 7px;
    padding: 16px 25px;
    transition: height 0.2s ease;
}

.card.active{
    height: 530px;
}

header h1{
    font-size: 21px;
    font-weight: 500;
}

header p{
    font-size: 16px;
    margin-top: 5px;
}

.form{
    margin: 20px 0 25px;
}

.form :where(input, button){
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form input{
    font-size: 18px;
    padding: 0 17px;
    border: 1px solid #999;
    color: #777;
}

.form button{
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    background: #a43acb;
}

.card .qr-code{
    opacity: 0;
    pointer-events: none;
    border: 1px;
    padding: 33px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    position: relative;
}

.card.active .qr-code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.5s ease;
}

.close-qr{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.card-2{
    width: 90vw;
    height: 520px; /*450px*/
    background-color: #130e20;
    border-radius: 7px;
    padding: 16px 25px;
    transition: height 0.2s ease;
}

#video{
    width:100%;
}

@media only screen and (min-width: 992px) {
    .card, .card-2{
        width: 410px;
    }
}